.card-image{
    max-width: 80%;
    margin-bottom: 20%;
    height: auto;
}

.card {
    display: inline-block;
    text-align: center;
    padding: 4% 2%;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin: 1%
}

.card-title {
    font-size: 1.4em;
    padding: 3%;
}

.card-description {
    font-size: 1em;
    padding: 3%;
}